h2{
    background-color: yellow;
    width: 60px;
}
body{
    background-color: #dcd9d9;
}
table {
    display: inline-block; 
    margin: 10px;  
    border-collapse: separate;
    border-spacing: 5px;
  }
  
  table td {
    font-size: 20px;
    color: rgb(16, 16, 93);
    background-color: #C0C0C0;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
    padding: 10px;
    width: 25px;
    height: 5px;
    text-align: center;
  }